@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StudentList
@{
    ViewData["Title"] = "Index";
}

<h2>Student Record</h2>
<div id="PartialView">
    <partial name="_StudentPartialView" model="Model.StudentListData" />
</div>
<form method="post" class="form-group" id="StudentSearch">
    <div >
        <b> <span>Search By its: </span></b>
        <select name="SearchByAttribute">
            <option value="">Choose</option>
            <option value="StudentName">Name</option>
            <option value="StudentID">ID</option>
            <option value="StudentClass">Class</option>
        </select>
        <input type="text" name="SearchText" />
        <b><span> Order By :</span></b>
        <select name="SortByAttribute">
            <option value="">Choose</option>
            <option value="StudentName">Name</option>
            <option value="StudentID">ID</option>
            <option value="StudentClass">Class</option>
        </select>
        <b><span> Range :</span></b>
        <input type="number" name="MinRange" />
        <b><span>  To :</span></b>
        <input type="number" name="MaxRange" />
        <input type="button" class="btn btn-primary" value="Search" data-attr="submit" />
    </div>
</form>

<div id="PartialResultView">

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/searchRecord.js"></script>


